<po-page-dynamic-search
    [p-actions]="actions"
    p-title="Espelho do Ponto"
    [p-filters]="filters"
    [p-keep-filters]="true"
    [p-literals]="customLiterals"
    [p-load]="onLoadFields.bind(this)"
    (p-advanced-search)="onAdvancedSearch($event)"
    (p-change-disclaimers)="onChangeDisclaimers($event)"
    (p-quick-search)="onQuickSearch($event)">

    <div class="table" id="htmlData" #htmlData>
        <HEader *ngIf="false">HEADER</HEader>
        <div class="padding">
            <po-table
                [p-loading]="loading"
                p-container="shadow"
                [p-sort]="true"
                [p-columns]="columns"
                [p-items]="items"
                [p-striped]="true">
            </po-table>

            <br>
            <p class="po-font-text-large cor">Banco de Horas</p>
            <po-table
                [p-loading]="loadingB"
                p-container="shadow"
                [p-sort]="true"
                [p-columns]="banco"
                [p-items]="bancohorarios"
                [p-striped]="true">
            </po-table>

            <br>
            <p class="po-font-text-large cor">Horários</p>
            <po-table
                [p-loading]="loadingH"
                p-container="shadow"
                [p-sort]="true"
                [p-columns]="horarios"
                [p-items]="itemsHorarios"
                [p-striped]="true">
            </po-table>

            <br>

            <po-table
                p-container="shadow"
                [p-sort]="true"
                [p-columns]="resumoCols"
                [p-items]="resumoItems"
                [p-striped]="true">
            </po-table>


        </div>
    </div>
</po-page-dynamic-search>
