<po-page-dynamic-search
    [p-actions]="actions"
    p-title="Espelho do Ponto"
    [p-filters]="filters"
    [p-keep-filters]="true"
    [p-literals]="customLiterals"
    (p-advanced-search)="onAdvancedSearch($event)"
    (p-change-disclaimers)="onChangeDisclaimers($event)"
    (p-quick-search)="onQuickSearch($event)">

    <div class="table" id="htmlData">

        <div class="padding">
            <po-table
                [p-loading] = "loading"
                p-container="shadow"
                [p-sort]="true"
                [p-columns]="columns"
                [p-items]="items"
                [p-striped]="true">
            </po-table>

            <br>
            <app-pontos-descartados></app-pontos-descartados>

            <br>

            <app-horarios></app-horarios>

            <br>
            <app-resumo></app-resumo>
        </div>
    </div>
</po-page-dynamic-search>
