<po-page-login
    [p-hide-remember-user]="true"
    p-logo="./assets/images/grupoBCI.jpg"
    p-product-name="Ponto Eletrônico"
    [p-recovery]="myRecovery.bind(this)"
    [p-literals]="customLiterals"
    [p-loading]="loading"
    p-password-pattern="^[0-9]{6,6}$"
    p-login-pattern="^[0-9]{1,11}$"
    [p-password-errors]="passwordErrors"
    [p-login-errors]="loginErrors"
    (p-login-change)="loginChange()"
    (p-login-submit)="checkLogin($event)"
    (p-password-change)="passwordChange()">
</po-page-login>

<po-modal p-title="Esqueceu a senha?" [p-hide-close]="true">
    <div class="center">
        <p>
            Entre em contato com o suporte de sua empresa para recuperar a sua senha.
        </p>
    </div>
</po-modal>
